<div class="main">
  <div class="colors">
    <button (click)="selectColor('red')" [class.selected]="color === 'red'">
      Red
    </button>
    <button
      (click)="selectColor('orange')"
      [class.selected]="color === 'orange'"
    >
      Orange
    </button>
    <button
      (click)="selectColor('yellow')"
      [class.selected]="color === 'yellow'"
    >
      Yellow
    </button>
    <button (click)="selectColor('green')" [class.selected]="color === 'green'">
      Green
    </button>
    <button (click)="selectColor('blue')" [class.selected]="color === 'blue'">
      Blue
    </button>
    <button
      (click)="selectColor('purple')"
      [class.selected]="color === 'purple'"
    >
      Purple
    </button>
    <button (click)="selectColor('pink')" [class.selected]="color === 'pink'">
      Pink
    </button>
    <button (click)="selectColor('white')" [class.selected]="color === 'white'">
      White
    </button>
    <button (click)="selectColor('black')" [class.selected]="color === 'black'">
      Black
    </button>
  </div>

  <div class="canvas">
    <div
      class="cell"
      *ngFor="let cell of cells; index as i"
      [style.background-color]="cell"
      (click)="changeColor(i)"
    ></div>
  </div>
</div>
<div class="clear">
  <button (click)="clear()">Clear</button>
</div>
